{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-outline-primary" href="{% url 'accounts:login' %}">Back</a>
                    <input class="btn btn-primary" type="submit" value="Reset password">
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}