{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col align-self-center">
        <div class="card" style="width: 20rem;">
            <h6 class="card-header">Student Card</h6>
            <div class="card-body">
                <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Email: {{ student.email }}</h6>
                <p class="card-text">Phone number: {{ student.phone_number }}</p>
                <p class="card-text">Birthdate: {{ student.birthdate }}</p>
                {% if student.city %}<p class="card-text">City: {{ student.city }}</p>{% endif %}

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'students:update' student.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'students:delete' student.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        <a href="{% url 'students:list' %}" class="btn btn-outline-primary btn-sm mt-2">Back to list</a>
    </div>
    <div class="col"></div>
</div>

{% endblock %}
