{% extends 'base.html' %}

{% block title %}
Delete Course
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col">
    <form method="post">
        {% csrf_token %}
        <div class="text-center">
            <p>Do you really want to remove course <strong>"{{ course.course_name }}"</strong>?</p>
            <a class="btn btn-outline-primary" href="{% url 'courses:list' %}">Back to list</a>
            <input class="btn btn-danger" type="submit" value="Remove">
        </div>
    </form>
    </div>
    <div class="col-3"></div>
</div>


{% endblock %}
